.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.blockquote {
   -fx-font-style: italic;
   -fx-background-color: rgba(240, 240, 240, 0.5);
}
